@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

body {
    background-color: #77c9d4;
}

header {
    width: 100%;
    background-color: #77c9d4;
    height: 90px;
    font-size: 200%;

}

header a:hover {
    color: #e3e3e3;
}

nav {
    float: right;
    padding: 25px 20px 0 0;

}

#header-wrapper {
    width: 100%;
    max-width: 1200px;
    background-color: #77c9d4;
    height: 90px;
    margin: 0 auto;
}

#logo {
    float: left;
    height: 90px;
    width: 180px;
    background: url(img/kjo_logo_large.svg) no-repeat center;
    margin: 3px 0px 10px 40px;
}

header ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
}

header ul li {
    display: inline-block;
    padding-right: 30px;
}

header ul li a {
    text-decoration: none;
    color: #f5f5f5;

}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(img/nav.png) center;
}

#banner-wrapper {
    width: 100%;
    background-color: #123456;
}

#banner {
    margin: 0 auto;
    max-width: 1100px;
}

#banner img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

.step-one-container {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 500%;
    clear: both;
    display: inline;
    max-width: 1100px;
}

#surf-container {
    width: 100%;
    max-width: 1600px;
    background-color: #77c9d4;
    margin: 0 auto;
}

#surf-container img {
    height: auto;
    width: auto;
    max-width: 50%;
    margin-left: -4px;
}

#yew {
    height: auto;
    width: auto;
    max-width: 50%;
    float: right;
}

#journal-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

#journal-container img {
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 50%;
}

#rejoice-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

#rejoice-container img {
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 50%;
}

#blue-bar {
    width: 100%;
    height: 80px;
    background-color: #123456;
    clear: both;
    margin-top: -10px;
}

#social {
    width: 100%;
    background-color: #77c9d4;
}

#social-list {
    list-style-type: none;
    text-align: center;
}

#social-list li {
    display: inline;
}

#social-list i {
    font-size: 460%;
    margin: 1%;
    padding: 5% 5% 5% 4%;
    color: white;
}

i:hover {
    color: #e3e3e3;
}

footer {
    background-color: #b56357;
    text-align: center;
    margin: 0;
    font-size: 100%;
    max-height: 150px;
    color: white;
}

#envelope {
    font-size: 500%;
    color: white;
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 100%;
    }

    h2 {
        font-size: 150%;
    }

    h3 {
        font-size: 150% !important;
    }

    p {
        font-size: 120%;
    }

    header {
        position: absolute;
    }

    #logo {
        margin: -4px 0 20px -25px;
        background: url(img/kjo_logo.svg) no-repeat center;
    }

    #menu-icon {
        display: inline-block;
    }



    nav ul, navactive ul {
            display: none;
            z-index: 1000;
            position: absolute;
            padding: 20px;
            background-color: #6991ac;
            right: 20px;
            top: 20px;
            border: 1px solid #FFF;
            border-radius: 2px 0 2px 2px;
            width: 25%;
        }

        nav:hover ul {
            display: block;
        }

        nav li {
            text-align: center;
            width: 100%;
            padding: 10px 0;
        }

        #banner {
            padding-top: 90px;
        }

        .step-one-container {
            font-size: 300%;
        }

        #social {
            font-size: 45%;
        }

        footer {
            font-size: 50%;
        }



}
